<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/vue")
</head>
<body>
    <template>
        <div class="wrapper">
            @RenderPage("_Header.cshtml")
            @RenderPage("_Sidebar.cshtml")
            <v-sidebar></v-sidebar>
            <div class="content-box" :class="{'content-collapse':collapse}">
                @RenderPage("_Tags.cshtml")
                <div class="content">
                    @RenderBody()
                    @*<transition name="move" mode="out-in">
            <keep-alive :include="tagsList">
                <router-view></router-view>
            </keep-alive>
        </transition>*@
                </div>
            </div>
        </div>
    </template>

</body>
</html>




<script>
    new Vue({
        el: '#app',
        data(){
            return {
                tagsList: [],
                collapse: false
            }
        },
        created(){
            //vue.$on('collapse', msg => {
            //    this.collapse = msg;
            //})

            //// 只有在标签页列表里的页面才使用keep-alive，即关闭标签之后就不保存到内存中了。
            //vue.$on('tags', msg => {
            //    let arr = [];
            //    for(let i = 0, len = msg.length; i < len; i ++){
            //        msg[i].name && arr.push(msg[i].name);
            //    }
            //    this.tagsList = arr;
            //})
        }
    })
</script>
